<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.ApplicationMapper">

    <!--获取所有用户申请小编列表-->
    <select id="listAllUserInfo" resultType="vo.UserListVO">
         SELECT u.userid,u.username,a.applyremarks FROM application a,user u where u.userid=a.userid and a.status=2
    </select>

    <!--审核通过 成为小编-->
    <update id="agreeByUserId" parameterType="int">
         update application set status = 1 where userid=#{userid}
    </update>

    <update id="updateByUserId" parameterType="int">
         update user_role set roleid = 3 where userid=#{userid}
    </update>

    <!--审核失败-->
    <update id="refuseByUserId" parameterType="int">
          update application set status = 0 where userid=#{userid}
     </update>

</mapper>
