<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.NewsInfoMapper">

    <!--获取文章信息列表-->
    <select id="getAllNews" resultType="pojo.NewsInfo">
         select n.*,u.username from news n,user u where n.newsstatus=2 and u.userid=n.userid
     </select>
    <!--文章审核通过-->
    <update id = "agreeByNewsId" parameterType="int">
        update news set newsstatus = 1 where newsid = #{newsid}
    </update>
    <!--文章审核不通过-->
    <update id = "refuseByNewsId" parameterType="int">
        update news set newsstatus = 0 where newsid = #{newsid}
    </update>
    <!--获取新闻内容-->
    <select id="showContent" resultType="pojo.NewsInfo" parameterType="int">
        select newscontent from news where newsid=#{newsid}
    </select>

</mapper>


