<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.UserInfoMapper">
    <select id="selectByUserName" resultType="pojo.UserInfo" parameterType="dto.UserInfoDTO">
        select * from user where username=#{username}
    </select>
    <!--注册-->
    <insert id="insertUser" parameterType="dto.UserInfoDTO">
        insert into user  values (default ,#{username},#{password},#{sex},#{email},#{icon})
        <selectKey keyProperty="userid" resultType="java.lang.Integer" order="AFTER">
            SELECT LAST_INSERT_ID() AS userid
        </selectKey>
    </insert>
    <!--首次注册默认会员-->
    <insert id="insertUserRole" parameterType="dto.UserInfoDTO">
        insert into user_role values (default,#{userid},1);
    </insert>
    <!--登录-->
    <select id="selectByUserNameAndPassword" resultType="pojo.UserInfo" parameterType="dto.UserInfoDTO">
        select u.*,r.* from user u,user_role ur ,role r
        where username=#{username} and password=#{password}
        and u.userid=ur.userid and r.roleid=ur.roleid
    </select>

    <update id="informationUpdateByUsername" parameterType="pojo.UserInfo">
        update user
        <set>
            <if test="username!=null and username!='' " >
                username = #{username},
            </if>
            <if test="password!=null and password!='' " >
                password = #{password},
            </if>
            <if test="sex!=null and sex!='' " >
                sex = #{sex},
            </if>
            <if test="icon!=null and icon!='' " >
                icon = #{icon},
            </if>
        </set>
        where userid = #{userid}
    </update>
    
    <insert id="applicationauthority" parameterType="dto.ApplicationDTO">
        insert into application (userid,applyremarks) values (#{userid},#{applyremarks})
    </insert>
    
    <select id="selectApplicationByUserid" resultType="dto.ApplicationDTO">
        select * from application where userid=#{userid}
    </select>
</mapper>